.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: white;
    font-size: 20pt;
}

.qr {
    width: 128px;
    height: 128px;
    background-color: black;
}

.roomCode {
    max-width: 128px;
    word-break: break-all;
}