.container {
    background-color: hotpink;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 8px;
}
.card {
    background-color: #FAFAFA;
    width: 75px;
    height: 125px;
    margin: 0 20px;
    border-radius: 8px;
}
.self {
    border: 1px solid greenyellow;
}