main {
  background-color: darkcyan;
  display: flex;
  flex-direction: column;
  color: #352B26;
  height: 100vh;
  align-items: center;
}

.topContainer {
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
  width: 100%;
}

footer {
  background-color: #6D5C53;
  color: white;
  width: 100vw;
  position: absolute;
  bottom: 0;
  height: min-content;
  text-align: center;
  padding: 4px;
  box-sizing: border-box;
}